@model IEnumerable<Quanly.Models.DTO.Hanghoa>
@using Microsoft.AspNetCore.Http

@{
    ViewBag.Title = "Home Page";
}
<h2>Danh Sach Mat Hang</h2>
@if (string.IsNullOrEmpty( ViewBag.user))
    {
    

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xuatxu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Giaban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conlai)
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Xuatxu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Giaban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conlai)
                </td>
            </tr>
            }



    </table>
    }
    else{
         <p style="color:red">@ViewBag.use</p>
         <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xuatxu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Giaban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conlai)
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Xuatxu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Giaban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conlai)
                </td>
                <td>
                   
                    @Html.ActionLink("Edit", "Mua")

                </td>
            </tr>
            }



    </table>
    
    }


